@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --bgColor: #333;
  --textPrimary: #fff;
  --textSecondary: #adadad;
  --primaryColor: #fd4;
}

body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bgColor);
  color: var(--textPrimary);
}

main {
  width: 1200px;
  margin: 50px auto;
}

#logo {
  width: 800px;
  margin: auto;
}

#header {
  width: 800px;
  margin: 50px auto 30px auto;
  display: flex;
  justify-content: space-between;
}

#info {
  color: var(--primaryColor);
}

button {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4px 10px;
  border: 0;
  border-radius: 5px;
  color: var(--textPrimary);
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--primaryColor);
}

h1 {
  color: var(--primaryColor);
}

h1 span {
    width: 50px;

}

div#game {
  line-height: 35px;
  height: 105px;
  overflow: hidden;
  width: fit-content;
  /* text-align: justify; */
  position: relative;
  outline: none;
}

#words {
  filter: blur(3px);
  color: var(--textSecondary);
}

#game:focus #words {
  filter: blur(0px);
}

div#focus-warning {
  position: absolute;
  inset: 0;
  margin: 35px;
  text-align: center;
  font-size: 1.5rem;
}

div#game:focus #focus-warning {
  display: none;
}

.word {
  font-family: "Roboto Mono", monospace;
  display: inline-block;
  margin: 0 10px;
  font-size: larger;
}

.letter.correct {
  color: #fff;
}

.letter.incorrect {
  color: #f55;
}